#!/usr/bin/env bash

# some automatic answerers, see https://borgbackup.readthedocs.io/en/stable/usage/general.html#environment-variables
export BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes

SCRIPTPATH=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)

# docker
DOCKER_COMPOSE_DIR="{{ zcompose__borg_docker_compose_dir }}"

# borg
BORG_REPO_PATH="{{ zcompose__borg_repo_path }}"
BORG_REPO_NAME="{{ zcompose__borg_repo_name }}"
BORG_REPO="${BORG_REPO_PATH}/${BORG_REPO_NAME}"
ARCHIVE_NAME=$(date +%Y-%m-%d_%H-%M-%S)

# backup
BACKUP_PATH="{{ zcompose__borg_backup_path }}"

# logs
LOG_PATH="${SCRIPTPATH}/logs"
LOG_FILE="${LOG_PATH}/${ARCHIVE_NAME}.log"


function main() {
  docker_compose "stop"
  create_backup
  docker_compose "start"
}

function docker_compose(){
  cmd=$1; shift

  if [[ -n $DOCKER_COMPOSE_DIR && -d $DOCKER_COMPOSE_DIR ]]; then
    pushd "${DOCKER_COMPOSE_DIR}"
    docker-compose "${cmd}"
    popd
  fi
}

function create_backup(){
  # ensure logfile exists
  mkdir --parents "${LOG_PATH}"
  touch "${LOG_FILE}"

  # ensure borg repo exists
  if ! [[ -d "${BORG_REPO}" ]]; then 
    borg init --encryption none "${BORG_REPO}"
  fi

  # create backup
  pushd "${BACKUP_PATH}" || exit 1
  borg create --stats \
    --compression 'zstd' \
    "${BORG_REPO}::${ARCHIVE_NAME}" . 2>> "${LOG_FILE}"

  # cleanup
  borg prune --stats --keep-within=7d --keep-weekly=4 --keep-monthly=6 "${BORG_REPO}" 2>> "${LOG_FILE}"

  # check integraty
  borg check --info "${BORG_REPO}" 2>> "${LOG_FILE}"
}

# ----------------------------------------------------------------------------- 

main
