version: "3.7"

services:
    portainer:
        container_name: "{{ zprovision__portainer_container_name }}"
        image: "{{ zprovision__portainer_image }}"
        restart: "{{ zprovision__portainer_restart_policy }}"
        ports:
            - "{{ zprovision__portainer_port_public }}:9001"
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "{{ zprovision__portainer_volume_volumes_path }}:/var/lib/docker/volumes"
